@import "mixins";

.app {

  font-size: 18pt;

  @include flexed;

  main, section, article {
    width: 100%;
    @include flexed;
  }

  input, select {
    @include inputs;
    padding: 5px;
    display: block;
  }

  input {
    text-align: center;
  }

  h1 {
    flex: 100%;
    border-bottom: 1px solid gray;
    font-size: 48pt;
  }
  section {
    display: flex;
    //grid-template-columns: repeat(3, 1fr);
    //gap: 10px;
    //grid-auto-rows: minmax(100px, auto);


  }

  label {
    @include flexed;
  }

  article {
    border: 1px ridge;
    border-radius: 10px;
  }
}

section.horizontal {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.radiolabel {
  @include inputs;
}

.radioGroup {
  @include inputs;
}

.smallText {
  font-size: 11pt;
}