@import "mixins";

* {
  box-sizing: border-box;
}

.app {

  --app-padding: 18pt;

  padding: var(--app-padding);

  font-size: 18pt;

  @include flexed;

  main, section, article {
    width: 100%;
    @include flexed;
  }

  input, select {
    @include inputs;
    padding: 5px;
    display: block;
  }

  select {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 36pt;
    text-align: center;
    max-width: calc(90vw - var(--app-padding) - var(--app-padding));
    min-width: 200px;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;

  }

  input {
    text-align: center;
  }

  input[type='range'] {
    //padding-left: var(--app-padding);
    //padding-right: var(--app-padding)
  }

  h1 {
    flex: 100%;
    border-bottom: 1px solid gray;
    font-size: 48pt;
  }
  section {
    display: flex;
    //grid-template-columns: repeat(3, 1fr);
    //gap: 10px;
    //grid-auto-rows: minmax(100px, auto);


  }

  article {
    border: 1px ridge;
    border-radius: 10px;
  }
}

section.horizontal {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}

.radiolabel {
  @include inputs;
}

.valueWithUnit {
  font-size: 36pt;
  margin-left: 5px;
  margin-right: 5px;

}

.radioGroup {
  @include inputs;
}

.smallText {
  font-size: 11pt;
}

.labelContainer {
  background-color: lightgray;
}
